<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

    <!--全部扫描service-->
    <context:component-scan base-package="com.dbb.service"></context:component-scan>
    <!--读取外部资源文件-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <!--对应jdbc.properties的属性文件-->
        <property name="location" value="classpath:jdbc.properties"></property>
    </bean>

    <!--配置数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${driverClassName}"></property>
        <property name="url" value="${url}"></property>
        <property name="username" value="${username}"></property>
        <property name="password" value="${password}"></property>
        <!-- 初始化连接大小 -->
        <property name="initialSize" value="${initialSize}"></property>
        <!-- 连接池最大数量 -->
        <property name="maxActive" value="${maxActive}"></property>
        <!-- 连接池最大空闲 -->
        <property name="maxIdle" value="${maxIdle}"></property>
        <!-- 连接池最小空闲 -->
        <property name="minIdle" value="${minIdle}"></property>
        <!-- 获取连接最大等待时间 -->
        <property name="maxWait" value="${maxWait}"></property>

    </bean>

    <!--创建会话工厂-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--调用数据源-->
        <property name="dataSource" ref="dataSource"></property>
        <!--设置mapper包的映射路径-->
        <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml" ></property>
        <!--设置别名映射-->
        <property name="typeAliasesPackage" value="com.dbb.entity"></property>
    </bean>

    <!--配置mapper文件全局扫描 扫描的是dao层-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定要自动扫描接口的基础包，实现接口-->
        <property name="basePackage" value="com.dbb.dao"></property>
        <!--指定会话工厂，如果当前上下文中只定义了一个则该属性可以省去-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <!--配置声明事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <!--启动注解形式的配置-->
    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

</beans>